#subject{
  margin-top: 10px;
  margin-left: 6px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: block;
}

.receivers{
  margin-left: 6px;
  color: white;
  text-decoration: underline;
  margin-bottom: 25px;
}

.receivers > span{
  margin-right: 6px;
}

.messages{
  margin: 0 6px;
  color: white;
  font-size: 14px;
}

.messages > div{
  border-bottom: 1px solid #1f1f1f;
  margin-bottom: 5px;
}

.messages .msgHeader{
  display: flex;
  justify-content: space-between;
  color: #c4c4c4;
  font-weight: bold;
}

.messages .content{
  display: block;
  margin: 5px 8px;
}

.inputGroup textarea{
  background-color: #555;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 14px;
  font-weight: normal;
  resize: none;
  min-height: 200px;
  width: calc(100% - 26px);
  margin: 20px 8px 2px 8px;
  color: white;
  padding: 4px;
}

#sendMessage{
  margin-left: 8px;
  font-weight: normal;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 4px;
  background: #121212 url('https://novaraider.net/ui-bg_gloss-wave_20_121212_500x100.550a3ef396accdf2.png') 50% 50% repeat-x;
  color: white;
  padding: 5px;
}

#sendMessage:hover{
  cursor: pointer;
  background: #121212 url('https://novaraider.net/ui-bg_inset-soft_15_121212_1x100.e622019f8856a730.png') 50% 50% repeat-x;
}

#sendMessage::before{
  content: '';
  padding-left: 16px;
  background: url('https://novaraider.net/ui-icons_ffffff_256x240.fddafef8e6aa0bb8.png');
  background-position: -35px -96px;
}


#sendMessage:active::before{
  content: '';
  padding-left: 16px;
  background: url('https://novaraider.net/ui-icons_f56894_256x240.f840abd8ee20aa5f.png');
  background-position: -35px -96px;
}

#sendMessage:active{
  color: rgb(241, 105, 162);
}
