<span id="subject">{{subject}}</span>

<div class="receivers">
  <span *ngFor="let receiver of receivers"><u>{{receiver}}</u> </span>
</div>

<div class="messages">
  <div *ngFor="let msg of content">
    <div class="msgHeader">
      <span>{{msg.sender}}</span>
      <span>{{msg.date}} {{msg.hour}}</span>
    </div>

    <span class="content">{{msg.content}}</span>
  </div>
</div>

<div class="inputGroup">
  <textarea></textarea>
</div>

<button id="sendMessage">Répondre</button>
