*{
  color: white;
  padding: 5px 8px;
  font-weight: bold;
  font-size: 18px;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.inputGroup label{
  padding: 0;
  margin-bottom: 2px;
}

.inputGroup :is(input, textarea, select){
  background-color: #555;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 14px;
  font-weight: normal;
}

.inputGroup select{
  padding: 0;
  max-height: 75px;
}

.inputGroup select option{
  font-size: 12px;
  border: none;
  outline: none;
  border-bottom: 1px solid #494949;
}

.inputGroup select option:checked{
  background-color: rgb(49, 49, 49);
}

.inputGroup select option:last-child{
  border-bottom: none;
}

.inputGroup input{
  padding: 2px 8px;
  height: 18px;
}

.inputGroup textarea{
  resize: none;
  min-height: 200px;
}

#sendMessage{
  margin-left: 8px;
  font-weight: normal;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 4px;
  background: #121212 url('https://novaraider.net/ui-bg_gloss-wave_20_121212_500x100.550a3ef396accdf2.png') 50% 50% repeat-x;
}

#sendMessage:hover{
  cursor: pointer;
  background: #121212 url('https://novaraider.net/ui-bg_inset-soft_15_121212_1x100.e622019f8856a730.png') 50% 50% repeat-x;
}

#sendMessage::before{
  content: '';
  padding-left: 16px;
  background: url('https://novaraider.net/ui-icons_ffffff_256x240.fddafef8e6aa0bb8.png');
  background-position: -35px -96px;
}


#sendMessage:active::before{
  content: '';
  padding-left: 16px;
  background: url('https://novaraider.net/ui-icons_f56894_256x240.f840abd8ee20aa5f.png');
  background-position: -35px -96px;
}

#sendMessage:active{
  color: rgb(241, 105, 162);
}
