<div class="inputGroup">
  <label>Sujet</label>
  <input type="text" name="subject">
</div>

<div class="inputGroup">
  <label>Destinataires</label>
  <select multiple>
    <option value="">Alliance</option>
    <option value="">Ami 1 </option>
    <option value="">Ami 2</option>
    <option value="">Ami 3</option>
    <option value="">Ami 4</option>
    <option value="">Ami 5</option>
  </select>
</div>

<div class="inputGroup">
  <label>Message</label>
  <textarea></textarea>
</div>

<button id="sendMessage">Envoyer</button>
