#chatContainer{
  width: 338px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background: #333333;
  border-left: 1px solid #222222;
  transition: all 1s ease;
  transition-delay: 0.5s;
}

#chatContainer .separation {
  cursor: ew-resize;
  background: #181818;
  width: 4px;
  height: 100vh;
  position: absolute;
  left: -5px;
}

#chatContainer.nodelay{
  transition-delay: 0s;
}

#chatContainer.retracted{
  transform: translateX(calc(100% + 5px));
  transition-delay: 0s;
}

#chatContainer .icon#retractIcon{
  transition: all 0.5s ease;
}

#chatContainer .icon#retractIcon::before{
  transition: color 0s;
  transition: background-position ease;
  transition-delay: 0.5s;
  background-position: -33px 240px;
}

#chatContainer.retracted .icon#retractIcon{
  transform: translateX(calc(-100% - 5px));
  border-bottom-left-radius: 5px;
  transition-delay: 1s;
}

#chatContainer.retracted .icon#retractIcon::before{
  transition: background-position ease;
  transition-delay: 1s;
  background-position: -96px 238px;
}

#chatContainer.discordOpen{
  transition-delay: 0s;
}

#chatSeparator{
  width: 100%;
  background: #121212 url('https://novaraider.net/ui-bg_gloss-wave_20_121212_500x100.550a3ef396accdf2.png') 50% 50% repeat-x;
  padding: 5px;
  position: relative;
  display: block;
  font-family: Arial,Helvetica,sans-serif;
  color: white;
  font-weight: 700;
  box-sizing: border-box;
  line-height: 1.3;
  font-size: 12px;
  z-index: 100;
}

#header{
  height: 25px;
  width: 100%;
  display: flex;
  border-bottom: 2px solid rgb(24, 24, 24);
  z-index: 1000;
  position: relative;
}

.icon{
  width: 35px;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  border-right: 1px solid black;
  background: #121212 url('https://novaraider.net/ui-bg_gloss-wave_20_121212_500x100.550a3ef396accdf2.png') 50% 50% repeat-x;
  position: relative;
  cursor: pointer;
}

.icon .notif{
  position: absolute;
  background-color: rgb(216, 54, 54);
  border: 1px solid white;
  border-radius: 4px;
  font-size: 8px;
  padding: 1px;
  color: white;
  right: -4px;
  bottom: -7px;
  z-index: 1000;
  pointer-events: none;
  min-width: 12px;
  text-align: center;
}

.icon.active{
  background: #121212 url('https://novaraider.net/ui-bg_inset-soft_15_121212_1x100.e622019f8856a730.png') 50% 50% repeat-x;
}

.icon:not(.discord)::before{
  content: '';
  width: 16px;
  height: 16px;
  background: url('https://novaraider.net/ui-icons_ffffff_256x240.fddafef8e6aa0bb8.png');
}

.discord::before{
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6a49cf127bf92de1e2_icon_clyde_blurple_RGB.png');
  filter: brightness(255);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.discord:is(:hover,.active)::before{
  filter: none;
}

.icon:not(.discord).active::before{
  background: url('https://novaraider.net/ui-icons_f56894_256x240.f840abd8ee20aa5f.png');
}

.icon:hover:not(.active,.discord)::before{
  background: url('https://novaraider.net/ui-icons_399dc1_256x240.b11124bcbc9b9545.png');
}

.icon#recorderIcon::before{
  background: none;
  background-image: url('https://cdn-icons-png.flaticon.com/512/2956/2956744.png');
  background-size: cover;
  filter: invert(1);
  width: 13px;
  height: 13px;
}

.icon#recorderIcon:hover::before{
  filter: invert(53%) sepia(16%) saturate(1731%) hue-rotate(162deg) brightness(94%) contrast(85%);
}

.icon#recorderIcon.active::before{
  filter: invert(48%) sepia(45%) saturate(4712%) hue-rotate(321deg) brightness(93%) contrast(93%);
}

.icon#chatIcon::before{
  background-position: -129px -96px;
}

.icon#messagesIcon::before{
  background-position: -80px -96px;
}

.icon#friendsIcon::before{
  background-position: -400px -96px;
}

#discord{
  display: block;
  height: calc(100% - 27px);
}

#discord.hidden{
  display: none;
}
