<section id="chatContainer" [ngStyle]="transition">
  <div class="separation" (mousedown)="startResize($event)"></div>

  <div id="header">
    <span class="icon" (click)="retract()" id="retractIcon"></span>
    <span class="icon active" (click)="active($event)" id="chatIcon">
      <span class="notif" *ngIf="nbChatNotif > 0">{{nbChatNotif}}</span>
    </span>
    <span class="icon" (click)="active($event)" id="friendsIcon">
      <span class="notif" *ngIf="nbFriendsNotif > 0">{{nbFriendsNotif}}</span>
    </span>
    <span class="icon" (click)="active($event)" id="messagesIcon">
      <span class="notif" *ngIf="nbMessagesNotif > 0">{{nbMessagesNotif}}</span>
    </span>
    <span class="icon" (click)="active($event)" id="recorderIcon"></span>
    <span class="icon discord" (click)="active($event)" id="discordIcon"></span>
  </div>

  <div *ngIf="openedTab == 'chatIcon'">
    <span id="chatSeparator">Chat Principal</span>
    <div id="chats" *ngFor="let chat of chatList; let index = index">
      <chat [name]="chat" [index]="chatList.length - index"></chat>
    </div>
  </div>

  <div *ngIf="openedTab == 'friendsIcon'">
    <span id="chatSeparator">Demandes d'amis</span>
    <friends-demands-component></friends-demands-component>
    <span id="chatSeparator">Liste d'amis</span>
    <friends-component></friends-component>
  </div>

  <div *ngIf="openedTab == 'messagesIcon'">
    <span id="chatSeparator">Messagerie</span>
    <messages-component></messages-component>
  </div>

  <div *ngIf="openedTab == 'recorderIcon'">
    <span id="chatSeparator">Enregistrement</span>
    <recorder-component></recorder-component>
  </div>

  <div id="discord" class="{{discord ? '' : 'hidden'}}">
    <widgetbot server="818128015665791017" channel="824019595236605972" width="100%" height="100%"></widgetbot>
  </div>
</section>
