<div class="FriendsContainer">
  <div *ngFor="let friend of friendsDemandsList">
    <div class="friendDemand online">
      <div class="friendContainer">
        <div class="friendInfoContainer">
          <span class="icon"></span>
          <div class="friendInfos">
            <span class="name">{{friend.name}}</span>
          </div>
        </div>
      </div>

      <div class="friendOptions">
        <span class="acceptInvite"></span>
        <span class="denyInvite"></span>
      </div>
    </div>
  </div>
</div>
