.friendDemand{
  width: calc(100% - 10px);
  height: 40px;
  background: #121212 url('https://novaraider.net/ui-bg_gloss-wave_20_121212_500x100.550a3ef396accdf2.png') 50% 50% repeat-x;
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
}

.friendDemand .friendContainer, .friendDemand .friendContainer .friendInfoContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.friendDemand .friendContainer{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.friendDemand .friendContainer > div{
  width: 100%;
}

.friendDemand .friendInfos{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.friendDemand .friendInfos .status{
  font-size: 12px;
}

.friendDemand .icon{
  display: block;
  width: 30px;
  height: 30px;
  background: url('https://cdn.discordapp.com/attachments/1150187579547861054/1158553746809298954/icon_30x30_sr.png?ex=651caac2&is=651b5942&hm=40c361181860db2cd45c225495c814c19c275e4bfe7d095f2f46c4032e582317&');
  margin-right: 10px;
  min-width: 30px;
}

.friend.offline .icon{
  filter: grayscale(100%);
}

.friendDemand .name{
  font-size: 18px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 20px;
  display: block;
}

.friend.offline{
  color: rgb(141, 140, 140);
}

.friendDemand .friendOptions{
  display: flex;
  width: auto;
  position: absolute;
  right: 10px;
}

.friendDemand .friendOptions > span{
  width: 25px;
  height: 20px;
  background: #121212 url('https://novaraider.net/ui-bg_gloss-wave_20_121212_500x100.550a3ef396accdf2.png') 50% 50% repeat-x;
  border: 1px #121212;
  box-shadow: 0px 0px 2px black;
  display: block;
  cursor: pointer;
}

.friendDemand .friendOptions > span:hover{
  background: #121212 url('https://novaraider.net/ui-bg_inset-soft_15_121212_1x100.e622019f8856a730.png') 50% 50% repeat-x;
}

.friendDemand .friendOptions > span::before{
  content: '';
  width: 16px;
  height: 16px;
  display: block;
}

.friendDemand .friendOptions .acceptInvite::before,
.friendDemand .friendOptions .acceptInvite:hover::before{
  background: url('https://novaraider.net/ui-icons_ffffff_256x240.fddafef8e6aa0bb8.png');
  background-position: -317px -142px;
}

.friendDemand .friendOptions .denyInvite::before,
.friendDemand .friendOptions .denyInvite:hover::before{
  background: url('https://novaraider.net/ui-icons_f56894_256x240.f840abd8ee20aa5f.png');
  background-position: -349px -126px;
}

.friendDemand .friendOptions > span.acceptInvite{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.friendDemand .friendOptions > span.denyInvite{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
