<div class="wrapper">
  <div class="game" id="game">
    <!-- <app-game-software></app-game-software> -->
  </div>

  <div class="chat">
    <!-- <app-game-chat></app-game-chat>  -->
    <angular-nova-chat></angular-nova-chat>
  </div>
</div>
