.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #333333;
}

.game {
  background: #838383;
  background-image: url('https://novaraider.net/background.02068ca8450d7ab7.jpg');
  background-size: cover;
  background-position-x: center;
  color: white;
  width: calc(100% - 338px - 5px);
  margin-right: -338px;
  min-width: 400px;
}

#game.retracted{
  transition: all 1s ease;
  transition-delay: 0s;
}

#game.transition{
  transition: all 1s ease;
}

.chat {
  background: #333333;
}

.separation {
  cursor: ew-resize;
  background: #181818;
  width: 4px;
  height: 100%;
}
