<div class="recorderOptions">
  <div class="container" *ngIf="!recording">
    <button (click)="startRecording()">Enregistrer</button>
  </div>
  <div class="container" *ngIf="recording">
    <button (click)="stopRecording()">Stop</button>
  </div>
  <a [href]="href" [download]="videoName" id="download" *ngIf="!recording && href"><button>Télécharger</button></a>
</div>

<span class="previewTitle">Preview :</span>
<div class="preview">
  <video [src]="videoSource" [disabled]="disabled" [controls]="controls"></video>
</div>
