.recorderOptions{
  margin: 10px 5px 20px 5px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
}

.recorderOptions > :is(div,a){
  margin-right: 10px;
}

.recorderOptions button{
  color: white;
  background: #121212 url('https://novaraider.net/ui-bg_gloss-wave_20_121212_500x100.550a3ef396accdf2.png') 50% 50% repeat-x;
  border: 1px #121212;
  box-shadow: 0px 0px 2px black;
  display: block;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 8px;
}

.recorderOptions button:hover{
  background: #121212 url('https://novaraider.net/ui-bg_inset-soft_15_121212_1x100.e622019f8856a730.png') 50% 50% repeat-x;
}

.recorderOptions a{
  text-decoration: none;
}

.preview{
  margin: auto;
  width: 90%;
  height: auto;
  aspect-ratio: 16/9;
  padding: 7px 7px 2px 7px;
  background: linear-gradient(to right, #005d97 4px, transparent 4px) 0 0, linear-gradient(to right, #005d97 4px, transparent 4px) 0 100%, linear-gradient(to left, #005d97 4px, transparent 4px) 100% 0, linear-gradient(to left, #005d97 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, #005d97 4px, transparent 4px) 0 0, linear-gradient(to bottom, #005d97 4px, transparent 4px) 100% 0, linear-gradient(to top, #005d97 4px, transparent 4px) 0 100%, linear-gradient(to top, #005d97 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.previewTitle{
  color: white;
  display: block;
  margin-left: 10px;
  margin-bottom: 5px;
}

video{
  background-color: rgb(43, 43, 43);
  width: 100%;
  height: 100%;
}
