<div id="chat-{{name}}" class="chatContainer" style="z-index: {{index}};">
  <div class="chatHeader {{openClass}}" (click)="open()" style="z-index: {{index}};">
    <span class="arrow"></span>
    <span>{{name}}</span>
    <span class="notif">{{notifCount}}</span>
  </div>

  <div class="chatBoxContainer {{openClass}}" [ngStyle]="transition"  [style.height.px]="chatHeight">
    <div class="messages">
      <button (click)="addMsg()">Ajouter</button>
      <div class="msg" *ngFor="let msg of messages; let i = index" [ngClass]="{'admin' : msg.admin}" [ngClass]="{'mod' : msg.mod}">
        <span class="hour" *ngIf="showHourAndSender(msg, i)">{{msg.hour}}</span>
        <span class="sender" *ngIf="showHourAndSender(msg, i)">{{msg.sender}}</span>
        <span class="content">{{msg.content}}</span>
        {{ changeSender(msg.sender) }}
      </div>
    </div>

    <input class="chatInput" type="text" *ngIf="{ inputIndex: index-1 } as newVar" style="z-index: {{newVar.inputIndex}};"/>
    <div class="resizeBox" (mousedown)="mouseDown($event)"></div>
  </div>
</div>
