.chatHeader{
  width: 100%;
  background: #121212 url('https://novaraider.net/ui-bg_gloss-wave_20_121212_500x100.550a3ef396accdf2.png') 50% 50% repeat-x;
  padding: 0.5em 0.5em 0.5em 2.2em;
  position: relative;
  display: block;
  font-family: Arial,Helvetica,sans-serif;
  color: white;
  font-weight: 700;
  box-sizing: border-box;
  line-height: 1.3;
  font-size: 12px;
  cursor: pointer;
  z-index: 1;
}

.chatHeader:hover{
  background: #000000 url('https://novaraider.net/ui-bg_gloss-wave_50_000000_500x100.7b371cabe98cf22b.png') 50% 50% repeat-x;
}

.chatHeader .notif{
  border-radius: 30%;
  background-color: rgb(216, 54, 54);
  color: white;
  height: 15px;
  min-width: 15px;
  text-align: center;
  display: inline-block;
  line-height: 16px;
  position: absolute;
  font-size: 8px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px;
  border: 1px solid white;
}

.chatBoxContainer .chatInput{
  width: 100%;
  height: 30px;
  background-color: #555;
  padding: 3px 5px;
  border: none;
  border-top: 1px solid #000;
  outline: none;
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #ddd;
}

.chatHeader + .chatBoxContainer .messages{
  height: -webkit-fill-available;
  margin-bottom: 0;
  transition: all 0.5s ease;
}

.chatHeader.open + .chatBoxContainer .messages{
  margin-bottom: 37px;
}

.chatHeader + .chatBoxContainer .chatInput{
  position: absolute;
  height: 20px;
  bottom: 0;
  transition: all 0.5s ease;
}

.chatHeader.open + .chatBoxContainer .chatInput{
  height: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chatBoxContainer{
  height: 0;
  position: relative;
}

.chatHeader.open + .chatBoxContainer{
  height: 187px;
}

.chatHeader .arrow{
  background-image: url('https://novaraider.net/ui-icons_ffffff_256x240.fddafef8e6aa0bb8.png');
  position: absolute;
  left: 0.5em;
  top: 50%;
  margin-top: -8px;
  background-position: -32px -16px;
  width: 16px;
  height: 16px;
}

.chatHeader:hover .arrow{
  background-image: url('https://novaraider.net/ui-icons_399dc1_256x240.b11124bcbc9b9545.png');
}

.chatHeader.open .arrow{
  background-image: url('https://novaraider.net/ui-icons_f56894_256x240.f840abd8ee20aa5f.png');
  background-position: -64px -16px;
}

.resizeBox{
  width: 100%;
  height: 10px;
  position: absolute;
  cursor: n-resize;
  bottom: 0;
  z-index: 1000;
  display: none;
}

.open .resizeBox{
  display: block;
}

.resizeBox.grow{
  height: 30px;
  bottom: -15px;
}

/*messages*/
.messages{
  overflow-y: auto;
}

.msg{
  opacity: 0;
  transition: all 0.5s ease;
  display: block;
}

.open .msg{
  opacity: 1;
}

.msg{
  padding-left: 5px;
  font-size: 14px;
  margin-bottom: 4px;
}

.msg.hidden{
  display: none;
}

.msg .hour{
  color: #aaa;
  margin-right: 5px;
}

.msg .sender{
  color: white;
  font-weight: bold;
  margin-right: 5px;
}

.msg .sender::after{
  content: ':';
}

.msg .sender:hover{
  opacity: 0.9;
  text-decoration: underline;
  cursor: pointer;
}

.msg.mod .sender{
  color: #8cfc0e;
}

.msg.mod .sender::before{
  content: '';
  padding-left: 17px;
  background-image: url('https://novaraider.net/shield_green.7db2e6d5af394209.png');
  background-position: -80% 20%;
  background-repeat: no-repeat;
}

.msg .content{
  color: white;
}

.msg.mod .content{
  color: #8cfc0e;
  line-height: 16px;
}
