.messagesContainer{
  padding-top: 30px;
  position: relative;
}

.messagesOptionsContainer{
  border-bottom: 2px solid black;
}

.messagesOptions{
  display: flex;
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  justify-content: space-between;
}

.messagesOptions .group{
  display: flex;
  width: auto;
}

.messagesOptions span{
  width: 30px;
  height: 20px;
  background: #121212 url('https://novaraider.net/ui-bg_gloss-wave_20_121212_500x100.550a3ef396accdf2.png') 50% 50% repeat-x;
  border: 1px #121212;
  box-shadow: 0px 0px 2px black;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.messagesOptions span.active{
  background: #121212 url('https://novaraider.net/ui-bg_inset-soft_15_121212_1x100.e622019f8856a730.png') 50% 50% repeat-x;
}

.messagesOptions span::before{
  content: '';
  width: 16px;
  height: 16px;
  display: block;
  background: url('https://novaraider.net/ui-icons_ffffff_256x240.fddafef8e6aa0bb8.png');
}

.messagesOptions span:hover::before{
  background: url('https://novaraider.net/ui-icons_399dc1_256x240.b11124bcbc9b9545.png');
}

.messagesOptions span:is(.active,:active)::before{
  background: url('https://novaraider.net/ui-icons_f56894_256x240.f840abd8ee20aa5f.png');
}

.messagesOptions .allMessages:is(.allMessages,:hover,.active)::before {
  background-position: -256px -95px;
}

.messagesOptions .sentMessages:is(.sentMessages,:hover,.active)::before {
  background-position: -272px -95px;
}

.messagesOptions .newMessage:is(.newMessage,:hover,.active)::before {
  background-position: -32px -94px;
}

.messagesOptions .readAll:is(.readAll,:hover,:active)::before{
  background-position: -64px -142px;
}

.messagesOptions span.allMessages{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.messagesOptions > span.newMessage{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
