<div class="messagesContainer">
  <div class="messagesOptionsContainer">
    <div class="messagesOptions">
      <div class="group">
        <span class="allMessages active" (click)="openMessageList($event)"></span>
        <span class="sentMessages" (click)="openSentMessageList($event)"></span>
        <span class="newMessage" (click)="openNewMessage($event)"></span>
      </div>

      <span *ngIf="!newMessage && !readMessage" class="readAll"></span>
    </div>
  </div>


  <div *ngIf="!newMessage && !readMessage">
    <div *ngFor="let msg of msgsList index as i" class="messages">
      <message (click)="openMessage(i)" [sender]="msg.sender" [content]="msg.content" [subject]="msg.subject" [date]="msg.date" [read]="msg.read"></message>
    </div>
  </div>

  <div id="newMessage" *ngIf="newMessage">
    <new-message></new-message>
  </div>

  <div id="readMessage" *ngIf="readMessage">
    <read-message></read-message>
  </div>
</div>
