.message{
  width: calc(100% - 10px);
  height: 40px;
  background: #121212 url('https://novaraider.net/ui-bg_gloss-wave_20_121212_500x100.550a3ef396accdf2.png') 50% 50% repeat-x;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.message.read{
  color: rgb(141, 140, 140);
}

.message .msgHeader{
  font-size: 16px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
  height: 20px;
  display: block;
}

.message .msgPreview{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 5px;
  text-overflow: ellipsis;
}

.message .msgPreview .sender{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 50%;
  height: 20px;
  display: block;
}
