<div class="message {{read ? 'read' : ''}}">
  <span class="msgHeader">{{subject}}</span>
  <div class="msgPreview">
    <span class="sender">{{sender}}</span>
    <span class="date">{{date}}</span>
  </div>
</div>
