<div class="friend {{status ? 'online' : 'offline'}}">
  <div class="friendContainer">
    <div class="friendInfoContainer">
      <span class="icon"></span>
      <div class="friendInfos">
        <span class="name">{{name}}</span>
        <span class="status">{{status ? 'online' : 'offline'}}</span>
      </div>
    </div>
  </div>

  <div class="friendOptions">
    <span class="openChat {{status ? '' : 'disabled'}}" (click)="addChat()"></span>
    <span class="openMessage"></span>
    <span class="inviteGroup"></span>
  </div>
</div>
