.friend{
  width: calc(100% - 10px);
  height: 40px;
  background: #121212 url('https://novaraider.net/ui-bg_gloss-wave_20_121212_500x100.550a3ef396accdf2.png') 50% 50% repeat-x;
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
}

.friend .friendContainer, .friend .friendContainer .friendInfoContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.friend .friendContainer{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.friend .friendContainer > div{
  width: 100%;
}

.friend .friendInfos{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.friend .friendInfos .status{
  font-size: 12px;
}

.friend .icon{
  display: block;
  width: 30px;
  height: 30px;
  background: url('https://cdn.discordapp.com/attachments/1150187579547861054/1158553746809298954/icon_30x30_sr.png?ex=651caac2&is=651b5942&hm=40c361181860db2cd45c225495c814c19c275e4bfe7d095f2f46c4032e582317&');
  margin-right: 10px;
  min-width: 30px;
}

.friend.offline .icon{
  filter: grayscale(100%);
}

.friend .name{
  font-size: 18px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 20px;
  display: block;
}

.friend.offline{
  color: rgb(141, 140, 140);
}

.friend .friendOptions{
  display: flex;
  width: auto;
  position: absolute;
  right: 10px;
}

.friend .friendOptions > span{
  width: 25px;
  height: 20px;
  background: #121212 url('https://novaraider.net/ui-bg_gloss-wave_20_121212_500x100.550a3ef396accdf2.png') 50% 50% repeat-x;
  border: 1px #121212;
  box-shadow: 0px 0px 2px black;
  display: block;
  cursor: pointer;
}

.friend .friendOptions > span:not(.disabled):hover{
  background: #121212 url('https://novaraider.net/ui-bg_inset-soft_15_121212_1x100.e622019f8856a730.png') 50% 50% repeat-x;
}

.friend .friendOptions > span::before{
  content: '';
  width: 16px;
  height: 16px;
  display: block;
  background: url('https://novaraider.net/ui-icons_ffffff_256x240.fddafef8e6aa0bb8.png');
}

.friend .friendOptions > span.openChat.disabled{
  opacity: 0.3;
}

.friend .friendOptions > :is(span:not(.disabled)):hover::before{
  background-image: url('https://novaraider.net/ui-icons_399dc1_256x240.b11124bcbc9b9545.png');
}

.friend .friendOptions .openChat::before,
.friend .friendOptions .openChat:hover::before{
  background-position: -381px -95px;
}

.friend .friendOptions .openMessage::before,
.friend .friendOptions .openMessage:hover::before{
  background-position: -333px -95px;
}

.friend .friendOptions .inviteGroup::before,
.friend .friendOptions .inviteGroup:hover::before{
  background-position: -269px -127px;
}

.friend .friendOptions > span.openChat{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.friend .friendOptions > span.inviteGroup{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
